<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <title>Onsen demo</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
  <link rel="stylesheet" href="styles/shadows/onsen-css-components.min.css"> 
  <link rel="stylesheet" href="styles/app.css"/> 

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    
  
  <script src="cordova.js"></script>  
  <script src="js/app.js"></script>  
  <script>
    ons.ready(function() 
    {
      // Wait for Cordova to load
      document.addEventListener("deviceready", onDeviceReady, false);
      document.addEventListener("offline", onOffline, false);
      document.addEventListener("online", onOnline, false);
      document.addEventListener("batterystatus", onBatteryStatus, false);

      var scan_button = document.getElementById("scan_button");

      scan_button.addEventListener("click", function(e) {
        e.preventDefault();
          ons.notification.alert({message: 'Scanning...'});
          //
          var scanner = cordova.require("cordova/plugin/BarcodeScanner");
          ons.notification.alert({message: scanner});
          //
          scanner.scan( function (result) { 
             document.getElementById("info").innerHTML = "Scanner result: \n" +
                  "text: " + result.text + "\n" +
                  "format: " + result.format + "\n" +
                  "cancelled: " + result.cancelled + "\n";

          },function (error) { 
              ons.notification.alert({message: "Scanning failed: "+error});
          });
        return false;
      }, false);

      // Cordova is ready
      function onDeviceReady() {
        setTimeout(function() {
          checkConnection();
        }, 400);
      }

      function checkConnection() {
          var networkState = navigator.connection.type;

          var states = {};
          states[Connection.UNKNOWN]  = 'Unknown connection';
          states[Connection.ETHERNET] = 'Ethernet connection';
          states[Connection.WIFI]     = 'WiFi connection';
          states[Connection.CELL_2G]  = 'Cell 2G connection';
          states[Connection.CELL_3G]  = 'Cell 3G connection';
          states[Connection.CELL_4G]  = 'Cell 4G connection';
          states[Connection.CELL]     = 'Cell generic connection';
          states[Connection.NONE]     = 'No network connection';

          alert('Connection type: ' + states[networkState]);
      }

      function onOnline() {
          alert('Online!');
      }

      function onOffline() {
         alert('Offline!');
      }

      function onBatteryStatus(info) {
          // Handle the online event
          console.log("Level: " + info.level + " isPlugged: " + info.isPlugged);
      }

    });
  </script>

</head>

<body ng-controller="AppController">    

  <ons-navigator>
    <ons-page>
      <ons-toolbar>
        <div class="center">Master Details</div>
      </ons-toolbar>

      <ons-list ng-controller="MasterController">
        <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
          <ons-row>
            <ons-col width="60px"> 
              <div class="item-thum"></div>
            </ons-col>
            <ons-col>
              <header>
                <span class="item-title">{{item.title}}</span>
                <span class="item-label">{{item.label}}</span>
              </header>
              <p class="item-desc">{{item.desc}}</p>
            </ons-col>
          </ons-row>                          
        </ons-list-item>
      </ons-list>

      <ons-row>
        <ons-col>
          <ons-button id="scan_button" modifier="large--cta">
            <ons-icon icon="ion-qr-scanner" fixed-width="true" style="color: #fefefe"></ons-icon>&nbsp;Scan code
          </ons-button>
          <div id="info"></div>
        </ons-col>
      </ons-row>

    </ons-page>
  </ons-navigator>

  <ons-template id="detail.html">
    <ons-page ng-controller="DetailController">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Details</div>
      </ons-toolbar>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="item">
          <ons-row>
            <ons-col width="60px"> 
              <div class="item-thum"></div>
            </ons-col>
            <ons-col>
              <header>
                <span class="item-title">{{item.title}}</span>
                <span class="item-label">{{item.label}}</span>
              </header>
              <p class="item-desc">{{item.desc}}</p>
            </ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="doSomething()">
          <ons-icon icon="ion-chatboxes" fixed-width="true" style="color: #ccc"></ons-icon>
          Add a note
        </ons-list-item>
      </ons-list>

      <ons-list style="margin-top: 10px">
        <ons-list-item class="item" ng-repeat="i in [1,2,3]">
          <header>
            <span class="item-title">Lorem ipsum dolor sit amet</span>
          </header>
          <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </ons-list-item>
      </ons-list>

      <br>

    </ons-page>
  </ons-template>

</body>  
</html>
